/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
  }
   */
  .forgot-password-container {
    background: #fff;
    color: #333;
    border-radius: 12px;
    padding: 40px;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
  }

 
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #2575fc;
  }
  
  p {
    font-size: 1.1em;
    margin-bottom: 30px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1em;
    background-color: #f9f9f9;
    color: #333;
  }
  
  input:focus {
    outline: none;
    border-color: #2575fc;
    background-color: #fff;
  }
  
  button {
    width: 100%;
    padding: 14px;
    background-color: #2575fc;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #6a11cb;
  }
  
  button:focus {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  a {
    display: block;
    margin-top: 20px;
    color: #2575fc;
    text-decoration: none;
    font-size: 1em;
  }
  
  a:hover {
    text-decoration: underline;
  }
  