/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.app-content {
  flex: 1;
  /* padding: 20px; */
  background: linear-gradient(135deg, #f3f4f6, #ffffff);
  margin-top: 70px; 
  overflow-y: auto;
  display: flex;
  justify-content: center; /* Center the content */
  align-items: center; /* Vertically center */
}

/* Header Styles */